<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_fragment :: headContent('/assets/css/home_primeiro_login.css')"></head>
    <meta charset="UTF-8">
    <title>Boas-vindas! | MyCash</title>
</head>
<body>
<div class="welcome-container">
    <h1 class="welcome-title">Bem-vindo ao MyCash! 🎉</h1>
    <p class="mt-3">Estamos felizes em ter você conosco. Que tal começar sua jornada financeira agora?</p>

    <ul class="checklist mt-4">
        <li th:classappend="${primeiraReceitaAdicionada != null && primeiraReceitaAdicionada ? 'text-decoration-line-through' : ''}">
            <i th:class="${primeiraReceitaAdicionada != null && primeiraReceitaAdicionada ? 'bi bi-check-circle-fill text-success' : 'bi bi-check-circle'}"></i>
            Adicione sua primeira receita
        </li>
        <li><i class="bi bi-check-circle"></i> Personalize categorias financeiras</li>
    </ul>

    <div class="mt-4" th:classappend="${primeiraReceitaAdicionada != null && primeiraReceitaAdicionada ? 'text-center' : ''}">
        <a th:if="${primeiraReceitaAdicionada == null || !primeiraReceitaAdicionada}" href="/adicionar-receita" class="btn btn-outline-success" id="botao-add-receita">Adicionar Receita</a>
        <a href="/adicionar-categorias" class="btn btn-outline-secondary ms-3" id="botao-add-meta">Personalize categorias financeiras</a>
    </div>

</div>

<footer th:replace="fragments/scripts_fragment :: scriptsContent('')"></footer>
</body>
</html>
