body {
    background-color: #202124;
    display: block;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    position: relative;
}
.money-emoji {
    font-size: 8rem;
}
h1, p {
    color: white;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#botao-comecar, #botao-registrar {
    transition: transform 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

#botao-comecar:hover, #botao-registrar:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#botao-comecar, #botao-registrar {
    transform: scale(1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

span{
    color: white;
    font-family: "Lexend", serif;
    padding-top: 10px;
}

a, a:hover {
    color: #198754;
    text-decoration: underline;
}

#wrapper {
    height: 200vh;
    position: relative;
}

#inicio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202124;
    color: white;
    text-align: center;
}
#secao-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202124;
}

.navigation-dots {
    position: fixed;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: gray;
    border-radius: 50%;
    margin: 8px;
    cursor: pointer;
}

.dot:hover {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform: scale(1.5);
}

.dot.active {
    background-color: green;
}

.dot-container {
    position: fixed;
    top: 50%;
    right: 10px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}

.form-check-input.green-checkbox:checked {
    background-color: #198754;
    border-color: #198754;
}

.form-check-input.green-checkbox:focus {
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

#formulario-registro-container {
    width: 100%;
    max-width: 850px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mensagem-escondida {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    color: red;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.mensagem-visivel {
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: red;
}
