<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_fragment :: headContent('/assets/css/landing_page.css')"></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCash</title>
</head>
<body>

<div id="wrapper">
    <section id="inicio">
        <div>
            <div class="money-emoji">🤑</div>
            <h1>MyCash</h1>
            <p>Controle suas finanças de maneira simples e segura.</p>
            <button type="button" class="btn btn-outline-success" id="botao-comecar">
                Começar <i class="bi bi-arrow-down"></i>
            </button>
        </div>
        <span>Já utiliza o MyCash? <a href="/entrar">Entrar</a></span>
    </section>

    <section id="secao-form">
        <div id="formulario-registro-container">
            <h2 class="text-center">Registre-se</h2>
            <div id="formulario-registro" class="mt-5">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="nome" class="form-label">Nome completo</label>
                            <input type="text" id="nome" class="form-control" placeholder="Digite seu nome completo" required>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" class="form-control" placeholder="Digite seu melhor email" required>
                        </div>

                        <div class="col-md-4 mb-3 position-relative">
                            <label for="senha" class="form-label">Senha</label>
                            <div class="input-group">
                                <input type="password" id="senha" class="form-control" placeholder="Escolha uma senha" required>
                                <button class="btn btn-outline-secondary" type="button" title="Mostrar senha" onclick="mostrarSenha()">
                                    <i id="iconSenha" class="bi bi-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="confirmarSenha" class="form-label">Confirmar senha</label>
                            <input type="password" id="confirmarSenha" class="form-control" placeholder="Confirme sua senha" required>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input type="tel" id="telefone" name="telefone" class="form-control telefone" placeholder="(99) 99999-9999" required>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="moedaPrincipal" class="form-label">Moeda principal</label>
                            <select id="moedaPrincipal" class="form-control">
                                <option value="R$">Real (BRL)</option>
                                <option value="$">Dólar (USD)</option>
                                <option value="€">Euro (EUR)</option>
                                <option value="£">Libra (GBP)</option>
                            </select>
                        </div>
                    </div>
                <div id="mensagemErro" class="mensagem-escondida text-center"></div>

                <button type="submit" class="btn btn-outline-success" id="botao-registrar" onclick="registrar()" style="width: 100%">Iniciar uma nova vida financeira!</button>
                <span class="text-muted text-center d-block" id="span-senha" style="font-size: 0.8rem">*A senha deve conter ao menos 8 caracteres, incluindo uma letra maiúscula, uma letra minúscula, um número e um caractere especial.</span>
            </div>
        </div>
    </section>

</div>

<div class="navigation-dots">
    <div class="dot" data-target="inicio"></div>
    <div class="dot" data-target="secao-form"></div>
</div>

<footer th:replace="fragments/scripts_fragment :: scriptsContent('/assets/js/landing_page.js')"></footer>
</body>
</html>
<script>
    new Cleave('#telefone', {
        phone: true,
        phoneRegionCode: 'BR'
    });
</script>
